<div class="answer-all">
  <p class="answer-author">{{answer.answer_author}}</p>
  <p class="rendered-answer-notes">
    {{answer.answer_text}}
  </p>
  <small class="small-answer-info">{{moment-calendar answer.timestamp}}</small>
  <div class="row answer-bottom">
    {{#unless upvotedAlready}}
      <button class="btn btn-default" {{action 'upvote' answer}}>Upvote | {{answer.upvotes}}</button>
    {{else}}
      <button class="btn btn-default" disabled>Upvote | {{answer.upvotes}}</button>
    {{/unless}}
  </div>
</div>
<hr>
