<form class="navbar-form navbar-left" {{action "submitQuestion" on="submit"}}>
  <table>
    <tr>
      <td>
        <div class="form-group">
          {{input value=question_author class="form-control" placeholder="Name"}}
        </div>
      </td>
      <td>
        <div class="form-group">
          {{input value=question_text class="form-control big-input" placeholder="Question"}}
        </div>
      </td>
      <td>
        <button class="btn btn-default" type="submit">Ask Question</button>
      </td>
      <td>
        {{#if detailsShowing}}
          <button class="btn btn-default" {{action "hideDetails"}}><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
        {{else}}
          <button class="btn btn-default" {{action "showDetails"}}><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        {{#if detailsShowing}}
          <div class="form-group">
            {{textarea value=notes class="form-control big-input" placeholder="Details"}}
          </div>
        {{/if}}
      </td>
    </tr>
  </table>
</form>
