<div class="rendered-question-full">
  <small class="small-question-info">Question asked by {{question.question_author}} &bull; {{moment-format question.timestamp}}</small><br>
  {{#link-to 'question' question.id}}<span class="rendered-question-text">{{question.question_text}}</span>{{/link-to}}
  <p class="rendered-question-notes">
    {{question.notes}}&nbsp;
    <button class="btn btn-link" {{action 'showEditForm'}}>(edit)</button>
  </p>

  {{#if editFormShowing}}
    <form class="edit-form" {{action 'submitEdit' question on='submit'}}>
      <div class="form-group">
        <label for="edit_question_text">Question</label>
        <{{input value=edit_question_text class="form-control" id="edit_question_text" placeholder=question.question_text}}
      </div>
      <div class="form-group">
        <label for="edit_notes">Details</label>
        {{textarea value=edit_notes class="form-control" id="edit_notes" placeholder=question.notes maxlength="500"}}
      </div>
      <button class="btn btn-default" type="submit">Submit</button>
    </form>

  {{/if}}

  <hr>
  <h4>Can you answer this question?</h4>
  <button class="btn btn-default" {{action 'showAnswerForm'}}>Answer</button>

  {{#if answerFormShowing}}
    <form class="answer-form" {{action 'submitAnswer' on='submit'}}>
      <div class="form-group">
        <label for="answer_author">Name</label>
        <{{input value=answer_author class="form-control" id="answer_author" placeholder="Name" required=true}}
      </div>
      <div class="form-group">
        <label for="answer_text">Answer</label>
        {{textarea value=answer_text class="form-control" id="answer_text" placeholder="Answer" required=true maxlength="500"}}
      </div>
      <button class="btn btn-default" type="submit">Submit</button>
    </form>
  {{/if}}
</div>

<div class="rendered-question-answers">
  <h4 class="answer-number">{{question.answers.length}}&nbsp;Answers</h4>
  <hr>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>
